<% require_relative 'C:/Users/UserJ/Desktop/Coding/phonebook/sql.rb' %>
<% arr = contact_reader(user_id) %>
<% arr.each do |contact|%>
    <% contact.each do |item| %>
        <%= item %> |
    <%end%>
    <br>
<%end%>
<form action='/add' method='post'>
<input type='Hidden' name='user_id' value='<%= user_id %>'>
<input type='text' name='name' value='name'>
<input type='text' name='phone' value='phone  '>
<input type='text' name='address' value='address'>
<input type='text' name='relationship' value='relationship'>
<input type='text' name='comment' value='comment'> <br>
<input type='submit' value='Submit'>
</form>
<input type='Hidden' name='user_id' value='<%= user_id %>'>
<input type="button" value="Back" onclick="history.back()">