insert login screen here <br>
<form action='/loginlander' method='post'> Username
<input type='text' name='username' value=''> <br> Password 
<input type='password' name='password' value=''> <br>
<input type='submit' value='Submit'><br>
</form>
Don't have an account?
Register:
<form action='/registered' method='post'>Username
<input type='text' name='username' value=''> <br> Password 
<input type='password' name='password' value=''> <br>
<input type='submit' value='Submit'>
</form>