<link rel="stylesheet" href="C:\Users\UserJ\Desktop\Coding\phonebook\public\css/style.css">
Welcome!
<form action='/viewcon' method='/post'>
View Contacts:
 <input type='submit' value='View'>
</form>
<form action='/editcon' method='/post'>
Edit Contacts:
 <input type='submit' value='Edit'>
</form>
<input id="buttons" type = "button" value = "Log Out" onClick = "location.href='/'">