<link rel="stylesheet" href="/css/style.css">
<body>
Welcome!
<form action='/view' method='/post'>
View Contacts:
 <input type='submit' value='View'>
 <input type='Hidden' name= 'user_id' value='<%= user_id %>'>
</form>
<form action='/edit' method='/post'>
Edit Contacts:
 <input type='submit' value='Edit'>
 <input type='Hidden' name='user_id' value='<%= user_id %>'>
</form>
<input id="buttons" type = "button" value = "Log Out" onClick = "location.href='/'">
