<% require_relative 'C:\Users\UserJ\Desktop\Coding\phonebook\bcrypt.rb'%>
<% puts pass %>
<% correct = checkpass(pass) %>
<% puts correct %>
<% if user == 'admin' && correct == true %>
Correct login, welcome: <%= user %>. <br>
<form action='/list' method='post'>
<input type='Submit' value='Proceed'>
</form>
<% else %>
Your login credentials are invalid. Go Back! <br>
<input id="buttons" type = "button" value = "Back" onClick = "location.href='/'">
<%end%>