<% require_relative 'C:\Users\UserJ\Desktop\Coding\phonebook\sql.rb'%>
<link rel="stylesheet" href="/css/style.css">
<body>
<% if user_id == 'wrong' %>
Your login credentials are invalid. Go Back! <br>
<input id="buttons" type = "button" value = "Back" onClick = "location.href='/'">
<% else %>
Correct login, welcome!. <br>
<form action='/list' method='post'>
<input type='Hidden' name='user_id' value='<%= user_id %>'>
<input type='Submit' value='Proceed'>
</form>
<%end%>